<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M\(%L\) - %msg%n</Property>

        <Property name="APP_LOG_ROOT">c:/temp</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="appLog"
                     fileName="${APP_LOG_ROOT}/advertisement/app-%d{MM-dd-yyyy}.log.gz"
                     filePattern="${APP_LOG_ROOT}/advertisement/app-%d{MM-dd-yyyy}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

    </Appenders>
    <Loggers>

        <AsyncLogger name="ir.webmetric.advertisement" additivity="false" includeLocation="true">
            <AppenderRef ref="appLog" />
            <AppenderRef ref="Console" />
        </AsyncLogger>

        <Root level="info">
            <AppenderRef ref="appLog" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>